<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Titan API Automation">

    <test name="Regression Tests">

        <classes>
            <class name ="tests.LoginTestAPI"></class>
            <class name="tests.Login"/>
            <class name="tests.WishListTestCase"/>
            <class name="tests.ProductListingPageTest"/>
            <class name="tests.LensDetailsTest"/>
             <class name="tests.GetLensAddOnTest"></class>
             <class name="tests.AddToCartEyeglassesAPITest"></class>
             <class name="tests.AddToCartSunglassesApiTest"></class>
             <class name="tests.TestEsimationDatesAPITest"></class>
             <class name="tests.GetStoresApiTest"></class>
             <class name="tests.VerifyAdminTokenAPITest"></class>
             <class name = "tests.ProductDetailsTestAPI"></class>
             <class name="tests.GenerateCustomerCartAPITest"></class>
             <class name="tests.CustomerAddToCart"></class>
             <class name="tests.RemoveCartItemTest"></class>
             
        </classes>

    </test>

</suite>